body {
  font-family: "Playfair Display", serif;
  background-color: white;
  color: #626262;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.conteiner {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
  padding: 0px 0px;
  border: 0px;
}

.part1,
.part2 {
  display: inline-block;
  width: 420px;
}

.part3,
.part4 {
  display: inline-block;
  width: 420px;
}

.part5,
.part6 {
  display: inline-block;
  width: 420px;
}

.part1,
.part3,
.part5 {
  margin-right: 56px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.part2,
.part4,
.part6 {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-nav {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
  padding: 0px 0px;
  border: 0px;
}
.main-menu {
  margin: 0 auto;
  padding: 0px 0px;
  border: 0px;
}
.link {
  display: inline-block;
  padding: 0px 0px;
  margin-top: 72px;
  margin-bottom: 102px;
  margin-right: 102px;
  margin-left: 0px;
  text-align: center;
}
.link:last-child {
  margin-right: 160px;
}
.link:first-child {
  margin-left: 160px;
}

.main-menu .link a:hover,
.main-menu-link:focus {
  color: rgb(14, 160, 228);
}

.main-menu .link a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #626262;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
}

.button {
  display: block;
  width: 163px;
  height: 60px;
  margin: 0 auto;
}
